@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Superhero Creator</h1>
    <p>Learn about <a class="text-primary" href="/Home/AboutLiz">Liz</a>, the creator of this web application.</p>
   
    <div class="jumbotron">
        <h1>Drag Kid</h1>
        <p>This is the original.</p>
       
    </div>
</div>
